
body {
  background-image: url('assets/images/background.jpg');

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-color: transparent !important;
  
  font-family: 'Bruno Ace SC', cursive;
  color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.navbar, footer {
	background: linear-gradient(-45deg, #58b500, #004600, #58b500, #004600);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Botões Personalizados - Verde Rick and Morty */
.botao-verde {
  color: #58b500 !important;
  border-color: #58b500 !important;
}

.botao-verde:hover {
  background-color: #58b500 !important;
  color: #fff !important;
  box-shadow: 0 0 10px #58b500;
}

.btn-outline-success {
	color: #58b500 !important;
	border-color: #58b500 !important;
}

.btn-outline-success:hover {
	background-color: #58b500 !important;
	color: #fff !important;
	box-shadow: 0 0 10px #58b500;
}


.btn-anterior, .btn-seguinte, .btn-voltar {
	color: #fff !important;
	border-color: #58b500 !important;
}

.btn-anterior:hover, .btn-seguinte:hover, .btn-voltar:hover {
	background-color: #58b500 !important;
	color: #fff !important;
	box-shadow: 0 0 10px #58b500;
}

h1, h2, .navbar-brand, .nav-link {
  font-family: 'Creepster', display;
  letter-spacing: 3px; /* Espaçar as letras para ficar mais dramático */
  color: #ffffff !important;
  text-shadow: 2px 2px 0px #000; /* Sombra preta para destacar do fundo */
}

.card {
  /* Fundo semitransparente escuro (R, G, B, Opacidade) */
  background-color: rgba(0, 0, 0, 0.6) !important;
  
  /* O segredo do vidro: desfoca o que está atrás */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Borda subtil para definir o limite do vidro */
  border: 1px solid rgba(255, 255, 255, 0.2);
  
  /* Texto claro */
  color: white;
  
  /* Transição suave para a animação de hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  /* O cartão flutua para cima 10 pixels */
  transform: translateY(-10px);
  
  /* Brilho verde neon à volta */
  box-shadow: 0 0 20px rgba(88, 181, 0, 0.6);
  
  /* Borda fica mais verde */
  border-color: #58b500;
  
  cursor: pointer;
}

.form-control:focus, .form-select:focus {
  border-color: #58b500 !important;
  
  box-shadow: 0 0 0 0.25rem rgba(88, 181, 0, 0.25) !important;
}
